body {
    margin: 0;
    padding: 0;
}

.img-fundo {
    background-image: url('../img/bac1.jpeg');
}

.fundo {

}

.ptb-16 {
    padding-top: 20rem !important;
    padding-bottom: 20rem !important;
}

.font-2 {
    font-size: 2rem;
}

.font-4 {
    font-size: 3.7rem;
}

[data-titulo] {
    opacity: 0;
    font-size: 0.1rem!important;
    transition: 0.5s;
}

[data-titulo="nome"].animate {
    opacity: 0.8;
    font-size:  3.5rem!important;
    background-color: black; 
}

[data-titulo="servico"].animate {
    opacity: 0.8;
    font-size:  2.5rem!important;
}

[data-anime] {
    opacity: 0;
    transition: .9s;
}

[data-anime="left"] {
    transform: translate3d(-15px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(15px, 0, 0);
}

[data-anime="top"] {
    transform: translate3d(0, -15px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.img {
    height: 9rem;
    width: 9rem;
    text-align: center;
}

.img-right {
    height: 15rem;
    width: 20rem;
}

.lingua {
    background-color: #3498db;
}

.description {
    font-size: 0.7rem;
    color: #ffffff;
}

.scale:hover {
    transform: scale(1.5);
}

.font-fantasy {
    font-family: fantasy;
}

.big-aspas {
    font-size: 7rem;
}








