body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #6c5ce7;
    color: #ffffff;
}

nav p {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 45px;
    margin-top: -22px;
}

nav a {
    font-size: 15px!important;
    color: #ffffff!important;
}

ion-icon {
    font-size: 40px;
    border-radius: 100px!important; 
    padding: 1px;
}

ion-icon:hover {
    background-color: #a29bfe;
}

.right {
    position: absolute;
    width: 57px;
    right: 0px;
    margin-right: 2px;
    margin-top: 75px;
}

.right i {
    border-radius: 100px;
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 13px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.right i:hover {
    transform: scale(1.2);
}

.fa-user-tie {
    padding-left: 14px!important;
    padding-right: 14px!important;
}

.fa-home {
    padding-left: 12px!important;
    padding-right: 12px!important;
}

section {
    background-image: url('../img/roxo1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    width: 100%;
}

.container-fluid {
    background-color: rgba(0,0,0,50%);
    height: 100%!important;
    color: #ffffff;
}

.container-fluid p {
    margin: 0;
    position: relative;
}

.title-first {
    font-family: 'Coiny', cursive;
    transform: translateY(-50%); 
    top: 50%;
    font-size: 53px;
}

.title-second {
    font-family: 'Righteous', cursive;
    transform: translateY(-45%); 
    top: 43%;
    font-size: 25px;
}

[data-anime] {
    opacity: 0;
    transition: 0.2s;
}

[data-anime="top"] {
    transform: translate3d(0px, -50px, 0px);
}

[data-anime="top"].animate {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
}

.font-staatleches {
    font-family: 'Staatliches', cursive;
}

.font-coiny {
    font-family: 'Coiny', cursive;
}

.font-spicy {
    font-family: 'Spicy Rice', cursive;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-righteous {
    font-family: 'Righteous', cursive;
}

