body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #6c5ce7;
    color: #ffffff;
}

nav p {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 45px;
    margin-top: -22px;
}

nav a {
    font-size: 15px!important;
    color: #ffffff!important;
}

ion-icon {
    font-size: 40px;
    border-radius: 100px!important; 
    padding: 1px;
}

ion-icon:hover {
    background-color: #a29bfe;
}

.right {
    width: 136px;
    margin-top: 75px;
    right: 13px;
    position: fixed;
    z-index: 2;
}

.fa-phone {
    margin-left: 5px;
}

.fa-home {
    margin-left: 3px;
}

.fa-user-tie {
    margin-left: 5px;
}

.right li {
    border-radius: 100px;
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 13px; 
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    height: 50px;
}

.right i {
    padding: 0!important;
}

.right ul {
    list-style-type: none;
}

[data-option="right"] {
    width: 50px;
    transition: 0.3s
}

[data-name="right"] {
    float: right;
    font-size: 0px;
    opacity: 0;
    transition: 0.4s
}

[data-option="right"]:hover  {
    width: 110px;
}

[data-option="right"]:hover p  {
    font-size: 16px;
    opacity: 1;
}

[data-anime] {
    opacity: 1;
    transition: 0.2s;
}

[data-anime="top"] {
    transform: translate3d(0px, 0px, 0px);
}

[data-anime="top"].animate {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0;
}

.nv-1 {
    background-image: url('../img/roxo1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}

section {
    width: 100%;
}

.container-fluid {
    background-color: rgba(0,0,0,50%);
    height: 100%!important;
    color: #ffffff;
}

.container-fluid p {
    margin: 0;
    position: relative;
}

.title-first {
    font-family: 'Coiny', cursive;
    transform: translateY(-50%); 
    top: 50%;
    font-size: 53px;
}

.title-second {
    font-family: 'Righteous', cursive;
    transform: translateY(-45%); 
    top: 43%;
    font-size: 25px;
}

.nv-2 {
    margin-top: 30px;
}

.nv-2 p {
    font-size: 30px;
    font-family: 'Special Elite', cursive;
}

.nv-2 ul {
    list-style-type: none;
    padding: 0;
}

.nv-2 ul li {
    float: left;
    font-size: 70px;
    margin: 10px;
    text-align: center;
}

.nv-2 ul li i {
    font-size: 40px;
}

.nv-2 ul li p {
    font-family: 'Righteous', cursive;
    font-size: 10px;
    margin-top: -20px;
}

.nv-2 img {
    width: 200px;
    height: 200px;
    padding-right: 10px;
    padding-top: 5px;
}

.nv-2 .col-md-4 p {
    font-family: 'KoHo', sans-serif;
    font-size: 14px;
    text-align: justify;
}

.nv-3 {
    padding-bottom: 20px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    color: #ffffff;
}

.nv-3 h2 {
    padding-top: 25px;
    margin-bottom: 50px;
}

.nv-3 ul {
    list-style-type: none;
    padding-left: 0;
}

.nv-3 li {
    background-color: #ffc107;
    margin-bottom: 10px;
    border-radius: 50px;
    height: 50px;
}

.nv-3 ul li i {
    margin-left: 8px;
    margin-top: 10px;
    color: black;
}

.nv-3 ul li p{
    display: inline-block;
    margin-left: 10px;
    color: black;
}

.nv-3 input{
    margin-bottom: 10px;
}

.nv-3 textarea{
    margin-bottom: 10px;
}

.nv-3 .col-md-4 img {
    width: 300px;
    height: 320px;
}

.font-staatleches {
    font-family: 'Staatliches', cursive;
}

.font-coiny {
    font-family: 'Coiny', cursive;
}

.font-spicy {
    font-family: 'Spicy Rice', cursive;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-righteous {
    font-family: 'Righteous', cursive;
}

