body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #6c5ce7;
    color: #ffffff;
}

nav p {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 45px;
    margin-top: -22px;
}

nav a {
    font-size: 15px!important;
    color: #ffffff!important;
}

ion-icon {
    font-size: 40px;
    border-radius: 100px!important; 
    padding: 1px;
}

ion-icon:hover {
    background-color: #a29bfe;
}

.right {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    margin-top: 75px;
}

.fa-phone {
    margin-left: 5px;
}

.fa-home {
    margin-left: 3px;
}


.fa-user-tie {
    margin-left: 5px;
}

.right li {
    border-radius: 50px;
    background-color: #6c5ce7;
    color: #ffffff;
    padding: 13px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.right i {
    padding: 0!important;
}

.right ul {
    list-style-type: none;
}

[data-option="right"] {
    width: 50px;
    transition: 0.5s;
}

[data-name="right"] {
    float: right;
    font-size: 0px;
    opacity: 0;
}

[data-name="right"].animate {
    font-size: 16px;
    opacity: 1;
}



[data-option="right"].animate {
    width: 105px;
}

[data-option]

.right i:hover {
    transform: scale(1.2);
}

section {
    background-image: url('../img/roxo1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    width: 100%;
}

.container-fluid {
    background-color: rgba(0,0,0,50%);
    height: 100%!important;
    color: #ffffff;
}

.container-fluid p {
    margin: 0;
    position: relative;
}

.title-first {
    font-family: 'Coiny', cursive;
    transform: translateY(-50%); 
    top: 50%;
    font-size: 53px;
}

.title-second {
    font-family: 'Righteous', cursive;
    transform: translateY(-45%); 
    top: 43%;
    font-size: 25px;
}

[data-anime] {
    opacity: 1;
    transition: 0.2s;
}

[data-anime="top"] {
    transform: translate3d(0px, 0px, 0px);
}

[data-anime="top"].animate {
    transform: translate3d(0px, -50px, 0px);
    opacity: 0;
}

.font-staatleches {
    font-family: 'Staatliches', cursive;
}

.font-coiny {
    font-family: 'Coiny', cursive;
}

.font-spicy {
    font-family: 'Spicy Rice', cursive;
}

.font-lobster {
    font-family: 'Lobster', cursive;
}

.font-righteous {
    font-family: 'Righteous', cursive;
}

